<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Online Food Ordering Basket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {font-family: "Times New Roman", Georgia, Serif;}
        h1,h2,h3,h4,h5,h6 
        {
            font-family: "Playfair Display";
            letter-spacing: 5px;
        }
    </style>
@model Carts.Models.Users

@{
    /**/

    ViewBag.Title = "Register";
}

<h2>Register</h2>
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#UserName').on('change', function () {
            var getName = $(this).val();
            $.ajax({
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                url: '/Home/GetUserByUsername',
                data: { uname: getName },
                success: function (data) {
                    if (data == "Yes") {
                        $('#userError').html("Username Already Exist");
                        $('#userError').addClass('uExist');
                        $('#UserName').val('');
                        $('#UserName').focus();
                    } else {
                        $('#userError').html("User Available");
                        $('#userError').addClass('uAvail');
                    }
                },
                error: function (response)
                {
                    alert('no');
                }
            });
        });
    });
</script>

@{
    ViewBag.Title = "Register";
}

<!-- Navbar (sit on top) -->
<div class="auto-style1">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Users</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
                <span id="userError"></span>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <p>
                <input type="submit" value="Create" id="btnCreate" />
            </p>
            <p class="lnkAction">  @Html.ActionLink("Login", "login")</p>
        </fieldset>
    }
</div>

